@page "/"

<PageTitle>Home</PageTitle>

<div class="home-center">
  <h1>Welcome to RazorPizza 🍕</h1>
  <p>Your pizza experience begins here! Browse our menu, select your favorite toppings, and enjoy a seamless ordering process from start to finish. Let’s get cooking!</p>
  <a class="btn btn-primary mt-3" href="/menu">Explore Menu</a>
</div>

<p></p>
