<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RazorPizza</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable1 nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column1 flex-column">
        <div class="nav-item nav-item1 px-3">
            <NavLink class="nav-link nav-link1" href="/" Match="NavLinkMatch.All">
                <i class="bi bi1 bi-house-door"></i> Home
            </NavLink>
        </div>

        <div class="nav-item nav-item1 px-3">
            <NavLink class="nav-link nav-link1" href="/menu">
                <i class="bi bi-list bi-list1"></i> Menu
            </NavLink>
        </div>

        <div class="nav-item nav-item1 px-3">
            <NavLink class="nav-link nav-link1" href="/shoppingcart">
                <i class="bi bi1 bi-cart"></i> Cart
            </NavLink>
        </div>

        <div class="nav-item nav-item1 px-3">
            <NavLink class="nav-link nav-link1" href="/admindashboard">
                <i class="bi bi1 bi-speedometer2"></i> Admin
            </NavLink>
        </div>
    </nav>
</div>
